.app {
    padding: 20px;
}

h1 {
    margin: 0 0 30px;
    color: white;
    font-size: 24px;
}

h2 {
    margin: 0 0 20px;
    color: white;
    font-size: 20px;
}

table {
    margin: 0 0 20px;
    border: none;

    tbody {
        tr {
            td {
                padding: 5px 10px;
                color: white;
            }
        }
    }
}